- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/img/image.jpg' }
doctype html
html( lang=nl )
	include pug/_header.pug
	body
		div#container
			p Hello!
